* {
    margin: 0;
    
}

.header-container {
    width: 100%;
    height: 100px;
    background-color: rgb(14, 142, 14);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-img {
    margin-left: 15px;
    background-color: rgb(14, 142, 14);
}

.header-img img {
    height: 80px;
    width: 200px;
    border-radius: 15px;
}

.header-menu {
    background-color: rgb(14, 142, 14);
}

.header-menu button {
    margin: 0 40px;
    padding: 5px 17px;
    border: none;
    background-color: rgb(14, 142, 14);
    font-size: 30px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header-menu button:hover {
    border-style: solid;
    border-radius: 10px;
}